* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template: "header" 15vh "main" 70vh "footer" 15vh / 1fr;
}

.container .header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: orange;
}

.container .main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightcoral;
}

.container .main .overlay__image {
  width: 550px;
  height: 450px;
  object-fit: contain;
}

.container .main .image {
  width: 350px;
  height: 250px;
  object-fit: contain;
  margin: 1em;
}

.container .main .previous, .container .main .next {
  height: 2em;
  width: 5em;
}

.container .footer {
  background: orange;
}
